__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg

.venv/
venv/
ENV/

.cache/

# Dashboard
dashboard/node_modules/
dashboard/.next/

run.log
.DS_Store
uv.lock
.next/
config.bat
node_modules
